body {
    margin: 0;
    overflow: hidden;
    font-family: Arial, sans-serif;
}

#reticle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 24px;
    pointer-events: none;
    z-index: 100;
}

#coin-counter {
    position: absolute;
    top: 10px;
    left: 10px;
    color: white;
    font-size: 24px;
    z-index: 100;
}

#health-gauge {
    position: absolute;
    top: 50%;
    left: 50%; /* レティクルの中心に配置 */
    transform: translate(-50%, -50%);
    z-index: 100;
}

#blocker {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

#instructions {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 14px;
    cursor: pointer;
    color: white;
}
